* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

button {
  font-family: inherit;
}


header {
  background-color: #002147;
  padding: 10px 96px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

ul a:link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

main {
  background-color: #002147;
  padding: 48px 96px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}


main section {
  color: #fff;
  flex: 1;
}

.img {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  height: 200px;
  background-color: #546578;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}


.hero {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn--cta{
  align-self: flex-start;
  background-color: dodgerblue;
  border: none;
  padding: 7px 21px;
  border-radius: 0.3em;
  color: #fff;
  font-weight: 700;
}